retrieval_basic_retrieval_rag_blenderbot2
===============

problem
===============


Test_1 retrieval_basic_retrieval_rag_blenderbot2
===============
![img.png](img.png)![img_1.png](img_1.png)![img_2.png](img_2.png)![img_3.png](img_3.png)![img_4.png](img_4.png)
![img_5.png](img_5.png)![img_6.png](img_6.png)![img_7.png](img_7.png)![img_8.png](img_8.png)![img_9.png](img_9.png)

Test_1 retrieval_cornell_update_retrieval_rag_blenderbot2
=============== 
![img_10.png](img_10.png)![img_11.png](img_11.png)![img_12.png](img_12.png)![img_13.png](img_13.png)
![img_14.png](img_14.png)![img_15.png](img_15.png)![img_16.png](img_16.png)![img_17.png](img_17.png)
![img_18.png](img_18.png)