retrieval_basic_retrieval_rag_blenderbot2
===============

problem
===============


Test_1 retrieval_basic_retrieval_rag_blenderbot2_memory_only
===============
![img.png](img/img.png)![img_1.png](img/img_1.png)![img_2.png](img/img_2.png)![img_3.png](img/img_3.png)![img_4.png](img/img_4.png)
![img_5.png](img/img_5.png)![img_6.png](img/img_6.png)![img_7.png](img/img_7.png)![img_8.png](img/img_8.png)![img_9.png](img/img_9.png)


Test_1 retrieval_cornell_update_retrieval_rag_blenderbot2_memory_only
=============== 
![img_10.png](img/img_10.png)![img_11.png](img/img_11.png)![img_12.png](img/img_12.png)![img_13.png](img/img_13.png)
![img_14.png](img/img_14.png)![img_15.png](img/img_15.png)![img_16.png](img/img_16.png)![img_17.png](img/img_17.png)
![img_18.png](img/img_18.png)


Test_2 retrieval_cornell_update_retrieval_rag_blenderbot2_memory_only
=============== 
![img_19.png](img/img_19.png)![img_20.png](img/img_20.png)![img_21.png](img/img_21.png)![img_22.png](img/img_22.png)
![img_23.png](img/img_23.png)![img_24.png](img/img_24.png)