retrieval_MSC_Large
===============

problem
===============
1. using too much retrieval
2. the score of retrieval response are always 0.99
3. include "Python.h" ^~~~~~~~~~ compilation terminated. error: command 
   '/usr/bin/x86_64-linux-gnu-gcc' failed with exit code 1 [end of output] note: 
   This error originates from a subprocess, and is likely not a problem with pip. 
   error: legacy-install-failure × Encountered error while trying to install package. ╰─> gensim
   1. sudo apt-get install python3.x-dev

Test_1 
===============
![img.png](img/img.png)![img_1.png](img/img_1.png)![img_2.png](img/img_2.png)![img_3.png](img/img_3.png)

Test_2
===============
![img_4.png](img/img_4.png)![img_5.png](img/img_5.png)![img_6.png](img/img_6.png)![img_7.png](img/img_7.png)
![img_8.png](img/img_8.png)![img_9.png](img/img_9.png)![img_10.png](img/img_10.png)![img_11.png](img/img_11.png)

Test_3
===============
![img_12.png](img/img_12.png)![img_13.png](img/img_13.png)![img_14.png](img/img_14.png)![img_15.png](img/img_15.png)
![img_16.png](img/img_16.png)

Test_4
===============
![img_17.png](img/img_17.png)![img_18.png](img/img_18.png)![img_19.png](img/img_19.png)![img_20.png](img/img_20.png)
![img_21.png](img/img_21.png)![img_22.png](img/img_22.png)![img_23.png](img/img_23.png)![img_24.png](img/img_24.png)
![img_25.png](img/img_25.png)![img_26.png](img/img_26.png)

Test_5
===============
![img_27.png](img/img_27.png)![img_28.png](img/img_28.png)![img_29.png](img/img_29.png)![img_30.png](img/img_30.png)
![img_31.png](img/img_31.png)