doge_chat_3 with only rag and msc blender model. no retrieval
===============


problem
===============

Link
===============



Test_1 ("zoo:hallucination/bart_rag_token/model", no history blendermsc3b)
===============

![img.png](img.png)![img_1.png](img_1.png)![img_2.png](img_2.png)![img_3.png](img_3.png)


Test_2 ("bart_rag_token", blendermsc3b with retrieval info, cosimilarity retrieval)
===============
![img_9.png](img_9.png)![img_10.png](img_10.png)![img_11.png](img_11.png)![img_12.png](img_12.png)
![img_13.png](img_13.png)![img_14.png](img_14.png)![img_15.png](img_15.png)![img_16.png](img_16.png)
![img_17.png](img_17.png)![img_18.png](img_18.png)

![img_19.png](img_19.png)![img_20.png](img_20.png)![img_21.png](img_21.png)![img_22.png](img_22.png)

Test_3 ("bart_rag_token", blendermsc3b with retrieval info, cosimilarity retrieval)
===============